button{
    background:  #008CBA
}
.table-data{
    display:inline-block;
}
th{
    padding:1%;

}
.table-data tr:nth-child(even) {
  background-color: #dddddd;
}
.table-data tbody{
    width:800px;

}
