
hr {
  margin-top: 0px !important;
}
#nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  background: lightgray;
  .nav-items {
    align-self: center;
    padding: 10px;
    font-size: 15px;
    margin: 5px;
    border-radius: 5px;
    border: solid #fff8f8 1px;
    color: black;
  }
}
.tabs{
    list-style-type: none;
    display: inline-block;
    padding: 1%;
    border: 2px solid lightgrey;
    background: #004085;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    width: 15%;
    cursor: pointer;
    margin-top: 15px;
  }
#top-nav {
  // background: url("../../image/background-sample.png");
  background: #d3d3d380;
  text-align: center;
  align-items: center;
  border-bottom: 2px solid lightgrey;
  .logo {
    font-size: 20px;
    // padding: 20px;
    font-weight: bold;
    color: black;
    flex-basis: 40%;
    text-align: left;
    img {
      width: 50px;
      margin: 20px 0 20px 20px;
    }
  }
  .search {
    background: white;
    flex-basis: 40%;
    button {
      color: white;
      background-color: #2196f3;
      border-radius: 3px;
    }
    input {
      font-size: 20px;
      // border: none;
      background: transparent;
      margin: 10px;
      width: 75%;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
    .fa-search {
      margin-left: -12px;
    }
  }
}

.loader {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
// Transparent Overlay
.loader:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));

  background: -webkit-radial-gradient(
    rgba(20, 20, 20, 0.8),
    rgba(0, 0, 0, 0.8)
  );
}

:not(:required) .loader:not(:required) {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loader:not(:required):after {
  content: "";
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 100px;
  height: 100px;
  display: block;
  font-size: 10px;
  margin-top: -0.5em;
  -webkit-animation: spinner 1500ms infinite linear;
  -moz-animation: spinner 1500ms infinite linear;
  -ms-animation: spinner 1500ms infinite linear;
  -o-animation: spinner 1500ms infinite linear;
  animation: spinner 1500ms infinite linear;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
